<!-- Main Content -->
<div class="container my-5">
    <h2 class="text-center mb-4">See Our Cars!</h2>
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/audis5.png" alt="Audi S5" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/c220.png" alt="Mercedes C220" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/bmw5.png" alt="BMW Series 5" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/corsa.png" alt="Opel Corsa" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/golfkrvn.png" alt="VW Golf Karavan" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/passatb7.png" alt="VW Passat B7" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/golf.png" alt="VW Golf" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/golfkaravan.png" alt="VW Golf Karavan" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/rs6.png" alt="rs6" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/m8.png" alt="m8" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/golf2gti.png" alt="mk2gti" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/cx5.png" alt="cx5" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/e60.png" alt="e60" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/octavia.png" alt="octavia" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/cls63.png" alt="cls" class="img-fluid thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="../assets/images/q5.png" alt="q5" class="img-fluid thumbnail">
        </div>
    </div>

    <!-- Modal for image view -->
    <div id="modal" class="modal2">
        <span class="close">&times;</span>
        <img id="modal-image" src="" alt="Full View" class="img-fluid">
        <span class="nav left">&#10094;</span>
        <span class="nav right">&#10095;</span>
    </div>
</div>

